
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/cstyle.css" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css" rel="stylesheet" />
    <title>
        test
    </title>
</head>
<body>
    <div class="p-8">
        <button id="broadcastButton" class="py-2 px-4 bg-blue-600 rounded-xl">Send UDP Broadcast</button>
    
        <div id="response" class="mt-5 grid grid-cols-4 gap-4">
    
        </div>
    </div>
    
    
    
    <script>
        const socket=new WebSocket('ws://localhost:8080');

        socket.addEventListener('open', () => {
            console.log('Connected to WebSocket server');
        });

        socket.addEventListener('message', (event) => {
            const responseDiv=document.getElementById('response');
            const data=JSON.parse(event.data);
            const card=data.map((i) => {
                return `
                <a href="#"class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">${i.address} <span class="text-xs">${i.port}</span></h5>
                    <p class="font-normal text-gray-700 dark:text-gray-400">${i.message}</p>
                </a>
                `
            }).join('');
            responseDiv.innerHTML=card;
        });

        // Send the 'broadcast' message to the server when the button is clicked
        document.getElementById('broadcastButton').addEventListener('click', () => {
            if (socket.readyState===WebSocket.OPEN) {
                socket.send(JSON.stringify({ cmd: 1 }));
                console.log('Sent broadcast command');
            } else {
                console.error('WebSocket connection is not open');
            }
        });
    </script>
</body>
</html>

